<%- include('./parts/head.ejs') %> <%# Navbar %> <%-
include('./parts/navbar.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Home page content</h1>
    </div>
  </div>
</div>

<%# Footer %> <%-include('./parts/footer.ejs') %>
